@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    background-image: linear-gradient(to right, aqua, green);
}

.contacts {
    display: flex;
    flex-direction: column;
    background-color: rgba(96, 151, 199, 0.479);

}

.contact {
    display: flex;
    flex-direction: row;
    border: 1px black solid;
}

h1, h2{
    margin: 30px;
    font-family: Montserrat;
    font-weight: bolder;
    color: black;
}

.info {
    padding: 30px;
    border: 1px solid black;
}